$theme-colors: (
  "primary": #5562eb, // Azul personalizado
  "success": #4cd3e3, // Turquesa personalizado
  "info": #f2a654,    // Naranja personalizado
  "warning": #ee5f5b, // Rojo personalizado
  "danger": #55efc4,  // Verde menta personalizado
  "light": #303952,   // Azul oscuro personalizado
  "dark": #dcdde1,     // Gris claro personalizado
  "front-color":peru,
  "mi-color-fav":darkred
);

.card-title{
  $font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@mixin profile-image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

